html {
    cursor: url('./Img/hammer.png'), auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    background: #7ec850;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    color: #2b2b2b;
}

.points {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    margin-bottom: 30px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 20px;
}

.hole {
    width: 120px;
    height: 120px;
    background: #5a3a1a;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 10px 0 rgba(0, 0, 0, 0.2);
}

.mole {
    width: 100%;
    height: 100%;
    background-image: url(./Img/mole.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    opacity: 0;
    background-size: 180%;
    transition: opacity 0.01s ease;
}

.mole.up {
    opacity: 1;
}

.btnGameRestart {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #c4d1e8;
    background: #762ae9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btnGameStart {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 12px 38px;
    font-size: 1rem;
    font-weight: bold;
    color: #c4d1e8;
    background: #e92ac3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btnGameStart:hover {
    background: #87106f;;
}

.btnGameRestart:hover {
    background: #48088e;
}